.section_2-parent {
  display: flex;
  align-items: center;
}

.section_2-between {
  justify-content: space-between;
}

.section_2-container {
  width: 100%;
  padding: 50px 5%;
  margin: 100px 0;
}

.section_2-gap {
  gap: 40px;
}

.section_2-line {
  background: linear-gradient(0deg,
      #ff0000 0%,
      #ffe2e2 0.01%,
      rgba(255, 199, 66, 0.9) 45.83%,
      #2180ff 100%);
  width: 20px;
  height: 130px;
  border-radius: 25px;
}

.section_2-header-text {
  font-weight: 700;
  font-size: 24px;
  max-width: 700px;
  min-width: 400px;
  color: white;
  width: 100%;
}

.section_2-header-text-2 {
  color: rgba(122, 122, 122, 1);
  width: 30%;
  font-size: 14px;
  line-height: 30px;
}

.section_2-statistic {
  display: flex;justify-content: center;
  align-items: center;
  margin-top: 100px;

}

.section_2-left-box {
  background-color: rgba(0, 105, 244, 1);
  height: 650px;
  width: 500px;
  border-radius: 40px;
}

.section_2-left-box h4 {
  font-size: 36px;
  font-weight: 700;
  line-height: 39.01px;
  color: #fff;
  padding: 45px 0 0 60px;
}

.section_2-left-box p {
  width: 430px;
  font-size: 17px;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  color: #fff;
  padding: 20px 0 0 60px;
}

.section_2-cards {
  position: relative;
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.section_2-card-1 {
  background: rgba(255, 255, 255, 1);
  width: 380px;
  height: 228px;
  border-radius: 30px;
  z-index: 20;
  position: absolute;
  bottom: 0;
}

.section_2-card-1 img {
  margin: 35px 0 0 160px;
}

.section_2-card-1 h2 {
  text-align: center;
  margin-top: 20px;
}

.section_2-card-1 .icons {
  font-size: 35px;
  margin: 45px 0 0 170px;
}

.section_2-card-2 {
  background: rgba(197, 197, 197, 1);
  width: 310px;
  height: 198px;
  border-radius: 30px;
  z-index: 15;
  position: absolute;
  bottom: -20px;
}

.section_2-card-3 {
  background: rgba(147, 147, 147, 1);
  width: 248px;
  height: 248px;
  border-radius: 30px;
  z-index: 10;
  position: absolute;
  bottom: -40px;
}

.section_2-right-box {
  margin-left: 20px;
}

.section_2-back-top {
  gap: 30px;
  display: flex;
}

.section_2-back-bottom {
  display: flex;
  margin-top: 30px;
  gap: 30px;
}

/* box  */
.section_2-back-box_1 {
  width: 350px;
  height: 300px;
  border-radius: 50px;
  border: 2px solid #252525;
  background-color: hsl(0, 0%, 15%);
  color: white;
  position: relative;
}

.section_2-back-box_1 h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 40px 0 0 30px;
}

.section_2-back-box_1 p {
  width: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0 0 30px;
}

.section_2-back-box_1 div {
  display: flex;
  background-color: #fff;
  font-size: 50px;
  color: #0069f4;
  gap: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px 30px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}

.section_2-back-box_2 {
  width: 450px;
  height: 300px;
  border-radius: 50px;
  background-color: #252525;
  color: white;
}

.section_2-back-box_2 h3 {
  font-size: 35px;
  font-weight: 700;
  margin: 30px 0 0 30px;
  line-height: 39.01px;
}

.section_2-back-box_2 p {
  width: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0 0 30px;
}

.section_2-back-box_3 {
  width: 530px;
  height: 260px;
  border-radius: 50px;
  border: 2px solid #252525;
  background-color: #252525;
  color: white;
  position: relative;
}

.section_2-back-box_3 h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 30px 0 0 30px;
  line-height: 39.01px;
}

.section_2-back-box_3 p {
  width: 300px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0 0 40px;
}

.section_2-bottom-dot-line{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 80%;
  height: 70px;
  position: absolute;
  bottom: 0;
  margin-left:56px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section_2-dot-1{
  border-bottom: 1px dashed royalblue;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_2-bottom-cyrcle{
  height: 40px;
  width: 40px;
  border: 1px solid royalblue;
  border-radius: 100px;
}

.section_2-bottom-cyrcle-2{
  height: 40px;
  width: 40px;
  border: 1px solid royalblue;
  border-radius: 100px;
  background-color: silver;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_2-bottom-cyrcle-2 > *{
  font-size: 20px;
}

.section_2-back-box_4 {
  width: 270px;
  height: 260px;
  border-radius: 50px;
  border: 2px solid #252525;
  background-color: #252525;
  color: white;
}

.section_2-back-box_4 h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 0 20px;
  line-height: 39.01px;
}

.section_2-back-box_4 .narrow_2 {
  margin: 40px 0 0 20px;
  border-radius: 40px;
  width: 230px;
  height: 50px;
  background-color: #fff;
}

.section_2-back-box_4 .narrow_2 button {
  border: none;
  font-size: 40px;
  height: 50px;
  width: 50px;
  margin: 0 0 0 180px;
  background-color: #0069f4;
  border-radius: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

