header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    color: white;
    height: 150vh;
}

.header-line{
    background-size: cover;
    width: 400px;
    height: 500px;
    position: absolute;
}

.header-top-right-line{
    background-image: url(../../assets/header-top-line.png);
    top: 0;
    right: 0;
}
.header-top-left-line{
    background-image: url(../../assets/header-top-leftline.png);
    top: 0;
    left:100px;
    width: 200px;
}


.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.header-first-child{
    width: 750px;
}
.header-second-child{
    width: 312px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}

.header-second-child p{
    line-height: 24px;
    font-weight: 500;
}

.header-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header-btn > button{
    height: 45px;
    width: 130px;
    border-radius: 15px;
    border: none;
    font-size: 11px;
}

.header-btn button:first-child{
    background-color: rgba(0, 105, 244, 1);
    color: white;
}

.header-data{
    text-align: center;
    margin-top: 100px;
}

.header-logo-image{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
}

.header-logo-image > img{
    width: 64px;
    height: 64px;
}

.header-data-2{
    width: 100%;
    margin-top: 30px;
    height: 200px;
    border-radius: 40px;
    background: linear-gradient(270deg, #FF6969 0%, #FFE2E2 0.01%, rgba(255, 247, 227, 0.9) 45.83%, #C6DEFF 100%);
    color: rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-data-2 h1{
    font-size: 48px;
}

.header-data-2 span{
    font-size: 10px;
}